<!DOCTYPE html>
<html>
<head>
	<title>title</title>
	<link href="css/_bootstrap.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div id="invoice">
		<div id="top-right">
			<div id="invoice-text">
				INVOICE
			</div>
			<table>
				<tr>
					<td>
						DATE
					</td>
					<td>
						<%= @invoice.created_at.strftime("%d/%m/%Y") %>
					</td>
				</tr>
				<tr>
					<td>
						INVOICE #
					</td>
					<td>
						<%= @invoice.number %>
					</td>
				</tr>
				<tr>
					<td>
						Customer ID
					</td>
					<td>
						<%= @invoice.client.code %>
					</td>
				</tr>
			</table>
		</div>
		<address id="address">
			<%= image_tag "logo.png" %>
			<br/>
			<br/>
			210,2B Ashirwad,Seven Bungalows,
			<br/>
			Versova, Mumbai - 400061.
			<br/>
			sales@itsalive.in
			<br/>
			9820860909 / 9769595468
		</address>
		<div id="tax-details">
			<strong>
				Pan Card Number:
			</strong>
			AADFI2139R
			<br/>
			<strong>
				Service Tax Number:
			</strong>
			AADFI2139RSD002
			<br/>
			<strong>
				ST Category:
			</strong>
			Information Technology Software Service
		</div>
		<div></div>
		<h2>
			Recipient:
		</h2>
		<address>
			<%= simple_format @invoice.client.address %>
		</address>
		<h2>
			Details:
		</h2>
		<table id="invoice-table">
			<thead>
				<tr>
					<th colspan="2">
						Description
					</th>
					<th style="text-align: right;">
						Amount
					</th>
				</tr>
			</thead>
			<% @invoice.items.each do |item| %>
			<%= render item %>
			<% end %>
			<tr>
				<td rowspan="7">
					<h3>
						Comments
					</h3>
					<%= simple_format @invoice.comments %>
				</td>
				<td>
					Subtotal
				</td>
				<td>
					<%= "%.2f" % @invoice.subtotal %>
				</td>
			</tr>
			<tr>
				<td>
					Service Tax (10%)
				</td>
				<td>
					<%= "%.2f" % @invoice.service_tax %>
				</td>
			</tr>
			<tr>
				<td>
					Education Cess (0.20%)
				</td>
				<td>
					<%= "%.2f" % @invoice.education_cess %>
				</td>
			</tr>
			<tr>
				<td>
					Sec &amp; Higher Edu. Cess (0.10%)
				</td>
				<td>
					<%= "%.2f" % @invoice.higher_cess %>
				</td>
			</tr>
			<tr>
				<td>
					TAX RATE @ 10.3%
				</td>
				<td>
					<%= "%.2f" % @invoice.total_tax %>
				</td>
			</tr>
			<tr>
				<td>
					Total
				</td>
				<td>
					Rs.
					<%= "%.2f" % @invoice.total %>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					All Cheques Payable To
					<br/>
					<strong>
						It's Alive
					</strong>
				</td>
			</tr>
		</table>
		<div>
			If you have any questions about this invoice, please contact Paramveer Bhatti, +919820860909, paramveer@itsalive.in
		</div>
		<div>
			Thank you for your business!
		</div>
	</div>
	<div>
		<%= link_to "Back", invoices_path, :class => 'btn' %>
		<%= link_to "Edit", edit_invoice_path(@invoice), :class => 'btn' %>
		<%= link_to "Delete", invoice_path(@invoice), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger' %>
		<%= link_to raw("<i class='icon-file icon-white'></i>"), invoice_path(@invoice) + ".pdf", :class => "btn btn-success" %>
		<%= link_to raw("<i class='icon-envelope icon-white'></i>"), "/site/email_invoice/#{@invoice.id}" , :class => "btn btn-success" %>
	</div>
</div>
</body>
</html>