#invoice{border: 1px solid #ddd; padding: 20px;}
form.formtastic fieldset ol li { display: block; }
form.formtastic fieldset { display: block; }
textarea{ height: 100px; width: 300px; }
#top-right{float: right;}
#invoice-text{ font-size: 48px; text-transform: uppercase; line-height: 72px;}
#address{float: left; margin-right: 40px; margin-top: 20px;}
#tax-details{float: left; margin-top: 72px; }
#invoice-table th{ background: #f5f5f5;}
.clear{clear: both; float: none;}
.spacer-cell{width: 55%; border-right: 1px solid #ddd;}
td.subtotal-text{border-left: none !important;}
td.cheques{text-align: center;}
.thanks{text-align: center; font-weight: bold;}
.concerns{text-align: center; margin-bottom: 30px;}
.subtotal-row{background: #f5f5ff}
.total-row{background: #f0f0ff; font-weight: bold;}
td.align-right{text-align: right;}
