@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
/* Scss Document *//* Import fonts */html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html, body {
  height: 100%;
  width: 100%;
}
a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}
b, strong {
  font-weight: bold;
}
@font-face {
  font-family: 'oswald_regularregular';
  src: url('../fonts/oswald-regular-webfont.eot');
  src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-regular-webfont.woff2') format('woff2'), url('../fonts/oswald-regular-webfont.woff') format('woff'), url('../fonts/oswald-regular-webfont.ttf') format('truetype'), url('../fonts/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #45494a;
  background: #fff;
  font-family: 'oswald_regularregular';
  padding: 0px !important;
  margin: 0px !important;
  font-size: 14px;
}
ul li {
  list-style: none;
}
a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
::selection {
  background: #ff6c60;
  color: #fff;
}
::-moz-selection {
  background: #ff6c60;
  color: #fff;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #2a2e2f;
}
ul, ol, h1, h2, h3, h3 {
  padding: 0;
  margin: 0;
}
.font-italic {
  font-style: italic;
}
.no-border {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}
/* common css */.primary-text {
  color: #cf3730;
}
.body-container p, li {
  font-size: 20px;
}
.heading-1 {
  font-size: 100px;
  line-height: 60px;
}
.para-title-1 {
  font-size: 32px !important;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 20px;
}
.para-title-2 {
  background: url(../images/list-arrow.png) no-repeat center left;
  font-size: 26px !important;
  padding-left: 15px;
  margin-left: 25px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  font-family: 'oswald_regularregular';
}
/*.para-title-3{
 background:none;
 padding-left:0;
 }*/.text-1 {
  color: #787879;
  margin-left: 25px;
  margin-bottom: 40px;
}
.text-2 {
  margin-left: 30px;
  margin-bottom: 40px;
}
.text-2 p {
  background: url(../images/list-arrow.png) no-repeat center left;
  color: #787879;
  padding-left: 20px;
  margin-bottom: 30px;
  clear: both;
}
.title-bot-line {
  margin-top: -5px;
  margin-bottom: 14px;
  border: 0;
  border-top: 4px solid #cf3730;
  border-radius: 4px;
  width: 40%;
}
.hori-divi {
  border-bottom: solid 2px #b2b3b5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.spacing-1 {
  margin-bottom: 150px;
}
/* main css */.main-header {
  position: relative;
  z-index: 99999;
}
.main-header .navbar-default {
  background-color: #cf3730;
  border: none;
  margin: 0;
}
.main-header .navbar {
  border-radius: 0;
}
.main-header .navbar .navbar-nav {
  margin: inherit;
}
.main-header .navbar .navbar-nav li > a {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main-header .navbar .navbar-nav > .active > a {
  color: #cf3730;
  background: #fff;
}
.sidebar-info .prof-img {
  border: #cacfd1 solid 11px;
  margin: 10px auto;
}
.sidebar-info h3 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sidebar-info .cont-det li {
  text-align: left;
  line-height: 50px;
}
.sidebar-info .cont-det li img {
  float: left;
}
.sidebar-info .cont-det li p {
  padding-left: 60px;
  font-size: 20px;
}
.sidebar-info .social li {
  margin-right: 42px;
  float: left;
}
.body-container {
  padding: 70px 200px 200px 100px;
  /*.per-info-sec{
 margin-top:95px;
 h2{
 font-size: 48px;
 text-transform: uppercase;
 text-align: left;
 float: left;
 width: 100%;
 min-height: 100px;
 position:relative;
 img{
 position: absolute;
 }
 span{
 font-size: 48px;
 text-transform: uppercase;
 text-align: left;
 float: left;
 padding-left: 90px;
 position: absolute;
 top: 50%;
 margin-top: -35px;
 }
 }
 }*/
}
.body-container .sinc {
  margin-top: 120px;
  color: #000;
}
.body-container .prof-det li {
  background: url(../images/list-arrow.png) no-repeat left 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
}
.body-container .per-info-sec {
  margin-top: 95px;
}
.body-container .per-info-sec .main-heading {
  display: table;
  margin-bottom: 20px;
}
.body-container .per-info-sec .main-heading .m-heading-img {
  display: table-cell;
}
.body-container .per-info-sec .main-heading .m-heading-headtag {
  display: table-cell;
  vertical-align: middle;
}
.body-container .per-info-sec .main-heading .m-heading-headtag h2 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}
.body-container .languages ul li {
  position: relative;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
.body-container .languages ul li span {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 190px;
}
